<mat-card>
  <div class="video-tab">
    <div class="img-wrap" (click)="playVideo()">
      <img [src]="video?.snippet.thumbnails.medium.url" alt="" />
      <div class="img-hover" [class.img-loading]="loading">
        <fa-icon [icon]="play" class="hover-icon" *ngIf="!loading"></fa-icon>
        <fa-icon
          [icon]="spinner"
          class="hover-icon spinner"
          *ngIf="loading"
        ></fa-icon>
      </div>
    </div>
    <div class="details">
      <span class="title">{{ video?.snippet.title }}</span>
      <span class="info"
        >Views: {{ video?.statistics.viewCount }} | Likes:
        {{ video?.statistics.likeCount }}</span
      >
      <div class="actions">
        <fa-icon [icon]="plus" class="icon"></fa-icon>
        <fa-icon [icon]="minus" class="icon"></fa-icon>
        <fa-icon [icon]="heart" class="icon"></fa-icon>
      </div>
    </div>
  </div>
</mat-card>
