<mat-card>
  <div class="video-tab">
    <div class="img-wrap" (click)="playVideo()">
      <img [src]="video?.snippet.thumbnails.medium.url" alt="" />
      <div class="img-hover">
        <fa-icon [icon]="play" class="hover-icon"></fa-icon>
      </div>
    </div>
    <div class="details">
      <span class="title">{{ video?.snippet.title }}</span>
      <span class="info"
        >Views: {{ video?.statistics.viewCount }} | Likes:
        {{ video?.statistics.likeCount }} | Date:
        {{ video?.timestamp | date: "M/d/yy" }}</span
      >
      <div class="actions">
        <fa-icon
          [icon]="plus"
          class="icon"
          (click)="list.addVideo(video)"
        ></fa-icon>
        <fa-icon
          [icon]="minus"
          class="icon"
          (click)="list.removeVideo(video)"
        ></fa-icon>
        <fa-icon
          [icon]="heart"
          class="icon"
          (click)="list.markFavourite(video)"
        ></fa-icon>
      </div>
    </div>
  </div>
</mat-card>
