@import "~src/assets/styles/mixins";
@import "~src/assets/styles/variables";

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.video-list {
  min-height: 680px;
}

.view-options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  span {
    margin-right: 0.5rem;
  }
  app-tiles,
  fa-icon {
    cursor: pointer;
    padding: 0 5px;
    font-size: 1rem;
  }
}
li {
  margin-bottom: 1rem;
}

.pagination {
  @include flex-center();
}

@media screen and (min-width: $screen-s) {
  .list-nav {
    @include flex-start();
    align-items: baseline;
    margin-bottom: 2rem;
    h1 {
      margin-right: auto;
    }
  }
}

@media screen and (min-width: $screen-m) {
  .list-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
