@import "~src/assets/styles/mixins";

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.video-list {
  height: 700px;
}

.view-options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  span {
    margin-right: 0.5rem;
  }
  app-tiles,
  fa-icon {
    cursor: pointer;
    padding: 0 5px;
    font-size: 1rem;
  }
}
li {
  margin-bottom: 1rem;
}

h1 {
  margin-right: auto;
}
.list-nav {
  @include flex-start();
  align-items: baseline;
  margin-bottom: 2rem;
}

.pagination {
  @include flex-center();
}
