/* You can add global styles to this file, and also import other style files */
@import "~src/assets/styles/variables";

html,
body {
  height: 100%;
}
body {
  background: $background;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.logo-icon {
  font-size: 32px;
  color: $red;
}

.icon-large {
  font-size: 32px;
}

.icon-mid {
  font-size: 20px;
}

.spinner {
  animation: load 1s infinite ease;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
