// COLORS
$red: #ff0000;
$background: #f8f8f8;
$navbar-bckg: rgba(255, 255, 255, 0.8);

// SCREEN

$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;

// FONTS

$font-large: 1.3rem;

// Z-INDEX

$navbar-z: 20;
